"*":
  "atom-beautify":
    c:
      beautify_on_save: true
      configPath: "/home/kun/.clang-format"
      default_beautifier: "clang-format"
    cpp:
      beautify_on_save: true
      configPath: "/home/kun/.clang-format"
      default_beautifier: "clang-format"
    lua:
      beautify_on_save: true
    perl:
      beautify_on_save: true
  "autocomplete-clang": {}
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
    style: "/home/kun/.clang-format"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "autocomplete-css"
      "autocomplete-html"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-go"
      "language-html"
      "language-java"
      "language-javascript"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "metrics"
      "open-on-github"
      "welcome"
      "clang-format"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 20
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "c7d0d721-fe2f-4418-b1f7-a388b8706ecb"
